html, body{
  min-height: 100%;
}

body{
  background: #f5f5f5;
  padding-top: 44px;
  padding-bottom: 50px;
}

.border-left-7{
	border-left: 7px solid;
}

.pb-2point5{
	padding-bottom: 0.85rem !important;
}

.hidden{
  display: none;
}

h6.big{
	font-size: 1.05rem;
}

#app{
  min-height: 100%;
}

.employee-label{
	margin-top: 1px;
	margin-bottom: 1px;
	transition: .15s ease-in-out;
}

.search-wrapper{
  background: #ffffff;
	border-bottom: 4px solid #cccccc;
	padding-top: 2px;
}

.footer-wrapper{
  background: rgba(200,200,200,0.95);
}

.bg-0{
  background-color: #ffffff;
}

.bg-1{
  background-color: #f0f0f0;
}

.input-icon{
  position: absolute;
  left: 9px;
  top: 13.25px;
  z-index: 4;
  color: #aaaaaa;
}
.input-icon-right{
  position: absolute;
  right: 8px;
  top: 6.5px;
  z-index: 4;
  color: #aaaaaa;
  padding: 6px;
  display: inline-block;
  cursor: pointer;
	font-size: 1.06rem;
}

input.has-icon{
  padding-left: 32px;
}
input.has-icon-right{
  padding-right: 32px;
}

.avatar-img{
  height: 45px;
  border-radius: 50%;
	margin-left: -4px;
}
