<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="plugins/switcher/switcher.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="js/main.js"></script>
</head>
<body>
	<div id="app">
		<div class="search-wrapper fixed-top">
			<div class="input-group">
				<i class="fas fa-search fa-sm input-icon"></i>
				<i class="fas fa-times input-icon-right" v-on:click="searchEmployeesClear" v-if="searchValue.length > 0"></i>
				<input type="text" spellcheck="false" v-on:keydown="seachEmployeesKeyDown" v-on:input="searchValue=$event.target.value;scrollToTop();" v-on:keyup="searchEmployees" v-bind:value="searchValue"
					class="form-control has-icon has-icon-right border-0 rounded-0 shadow-none" placeholder="Search by Employee or Contractor..." >
			</div>
		</div>

		<employee-item  v-for="(item, index) in employees" v-bind:employee="item" v-bind:index="index" v-bind:key="item.id">
		</employee-item>

		<no-results v-if="employees.length == 0">
		</no-results>

		<div class="footer-wrapper fixed-bottom">
			<button :class="['btn btn-block rounded-0 btn-lg border-0', selectedEmployees == 0 ? 'disabled' : 'btn-primary']" type="submit">Log Out Selected
				&nbsp;(<strong>{{ selectedEmployees }}</strong> of <strong>{{ employeeCount }}</strong>)
			</button>
		</div>

	</div>
</body>
</html>
